<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> EMS | Add Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
  <body>

  <div class="container">
          <h1>Add Employee</h1>
      <hr>

<form action="/add_emp" method="post">
    {% csrf_token %}
    <label for="first_name">First Name:</label><br>
    <input type="text"  placeholder="Letters only" id="first_name" name="first_name" maxlength="15" required><br>

    <label for="last_name">Last Name:</label><br>
    <input type="text" placeholder="Letters only" id="last_name" name = "last_name" maxlength="15" required><br>

      <label for="dept">Department:</label> <br>
    <input type="number"  list="Department" placeholder="1-4" id="dept" name="dept" min="1" max="4" required >

    <datalist id="Department">
        <option value="1">HR</option>
        <option value="2">Javascript Devs</option>
        <option value="3">Python Devs</option>
        <option value="4">Automation</option>
    </datalist><br>

        <label for="role">Role:</label> <br>
            <input type="number" list="Role" placeholder="1-4" id="role" name="role" min="1" max="4" required>

            <datalist id="Role">
                <option value="1">taga hugas pwet</option>
                <option value="2">taga linis pinggan</option>
                <option value="3">taga luto</option>
                <option value="4">taga walis</option>
            </datalist><br>

    <label for="salary">Salary:</label><br>
    <input type="number" id="salary" name="salary" placeholder="P500-50000"  min="0" max="50000" step="500" required><br>

    <label for="bonus">Bonus:</label><br>
    <input type="number" id="bonus" name="bonus" placeholder="P0-50000"  min="0" max="50000" step="500" required><br>

    <label for="phone">Phone Number:</label><br>
    <input type="tel" id="phone" name="phone" placeholder="0000-000-0000" pattern="[0-9]-{4}-[0-9]{3}-[0-9]{4}"required size="13" minlength="13" maxlength="13"><br>

    <hr>
    <button type="submit" class="btn btn-primary">Add</button>
       <button type="reset" class="btn btn-primary">Clear</button>
          <a class="btn btn-primary" href='index' role="button">Home</a><br>
</form>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>