{% load static %}

{% block content %}
{% if user.is_authenticated %}
    Hey {{ user.username }}!
    <p><a class="btn btn-primary" href="{% url 'logout' %}" role="button">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>Employee Management System</title>
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a>
    <a class="btn btn-primary" href="/add_emp" role="button">Add An Employee</a>
    <a class="btn btn-primary" href="/remove_emp" role="button">Remove An Employee</a>
    <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Details</a>
    <a class="btn btn-primary" href="/index_mail" role="button">Mails</a>

    <button class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Memo Forms
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/memo_list">List</a>
        <a class="dropdown-item" href="/memo_form">Create</a>
        <a class="dropdown-item" href="/memo_form">Update</a>
        <a class="dropdown-item" href="/memo_form">Delete</a>
    </div>
</div>


<!-- Include Bootstrap JavaScript without jQuery and Popper -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
{% endblock %}
